USE [master]
GO
/****** Object:  Database [Ass]    Script Date: 7/14/2018 3:27:08 PM ******/
CREATE DATABASE [Ass]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ass', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Ass.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Ass_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Ass_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ass].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ass]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 7/14/2018 3:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Comment](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[moTa] [ntext] NULL,
	[IDSP] [varchar](50) NULL,
	[Email] [varchar](30) NULL,
	[NgayCM] [datetime] NULL,
	[URL] [varchar](50) NULL,
	[reply] [nvarchar](200) NULL,
	[ngayReply] [datetime] NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTSP]    Script Date: 7/14/2018 3:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTSP](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[IDSP] [varchar](50) NULL,
	[motaCT] [ntext] NULL,
	[HinhCTSP] [ntext] NULL,
	[tieudeCTSP] [ntext] NULL,
 CONSTRAINT [PK_CTSP] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 7/14/2018 3:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDon](
	[IDHD] [varchar](50) NOT NULL,
	[tenSP] [ntext] NULL,
	[SL] [varchar](100) NULL,
	[Size] [varchar](100) NULL,
	[Gia] [varchar](200) NULL,
	[tenKH] [nvarchar](200) NULL,
	[SDT] [nchar](11) NULL,
	[diaChi] [nvarchar](200) NULL,
	[idSP] [ntext] NULL,
	[Email] [varchar](100) NULL,
	[trangThai] [nvarchar](50) NULL,
	[ngay] [datetime] NULL,
	[hinhThucTT] [nchar](10) NULL,
	[loaiHD] [nvarchar](10) NULL,
	[tongTien] [float] NULL,
 CONSTRAINT [PK_CTHD_1] PRIMARY KEY CLUSTERED 
(
	[IDHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Kho]    Script Date: 7/14/2018 3:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Kho](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[IDSP] [varchar](50) NULL,
	[SL] [varchar](50) NULL,
	[Size] [varchar](50) NULL,
 CONSTRAINT [PK_Kho] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Loai]    Script Date: 7/14/2018 3:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Loai](
	[IDLoai] [varchar](50) NOT NULL,
	[tenLoai] [nvarchar](200) NULL,
 CONSTRAINT [PK_Loai] PRIMARY KEY CLUSTERED 
(
	[IDLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 7/14/2018 3:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NULL,
	[isAdmin] [bit] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 7/14/2018 3:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SanPham](
	[IDSP] [varchar](50) NOT NULL,
	[TenSP] [nvarchar](200) NULL,
	[GiaSPKM] [float] NULL,
	[GiaSP] [float] NULL,
	[isHot] [nchar](10) NULL,
	[IDLoai] [varchar](50) NULL,
	[MoTa] [ntext] NULL,
	[HinhSP] [ntext] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[IDSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ThongKe]    Script Date: 7/14/2018 3:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongKe](
	[STT] [nchar](10) NOT NULL,
	[SLHD] [nchar](10) NULL,
	[Ngay] [nchar](10) NULL,
 CONSTRAINT [PK_ThongKe] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([STT], [TenKH], [moTa], [IDSP], [Email], [NgayCM], [URL], [reply], [ngayReply]) VALUES (1, N'abc', N'Hello', N'NKAVMFU-GR', N'kienit238@gmail.com', CAST(0x0000A8F300000000 AS DateTime), N'user.png', NULL, NULL)
INSERT [dbo].[Comment] ([STT], [TenKH], [moTa], [IDSP], [Email], [NgayCM], [URL], [reply], [ngayReply]) VALUES (2, N'Visible', N'Very Good, beautiful.', N'NKAVMFU-GR', N'visible.mask@gmail.com', CAST(0x0000A8F300000000 AS DateTime), N'user.png', NULL, NULL)
INSERT [dbo].[Comment] ([STT], [TenKH], [moTa], [IDSP], [Email], [NgayCM], [URL], [reply], [ngayReply]) VALUES (3, N'Tin', N'HiHi', N'NKAVMFU-GR', N'tin@gmail.com', CAST(0x0000A8F300000000 AS DateTime), N'user.png', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Comment] OFF
SET IDENTITY_INSERT [dbo].[CTSP] ON 

INSERT [dbo].[CTSP] ([STT], [IDSP], [motaCT], [HinhCTSP], [tieudeCTSP]) VALUES (3, N'ADNMDRPS-PNK', N'Progressive, premium, pioneering. NMD blends pure adidas heritage with advanced materials for futuristic style that resonates on the streets. These shoes have a sock-like adidas Primeknit upper that follows the shape of your foot for a snug, adaptive fit. The responsive Boost midsole features multicolored Quickstrike inserts for lightweight flexibility.', N'CT1.jpg;CT2.jpg;CT3.jpg', N'A RACING-INSPIRED NMD THAT''S FASTER AND SLEEKER THAN EVER BEFORE.')
SET IDENTITY_INSERT [dbo].[CTSP] OFF
INSERT [dbo].[HoaDon] ([IDHD], [tenSP], [SL], [Size], [Gia], [tenKH], [SDT], [diaChi], [idSP], [Email], [trangThai], [ngay], [hinhThucTT], [loaiHD], [tongTien]) VALUES (N'HD1', N'Jordan Spizike Dark Blue^NMD_Racer Primeknit Shoes Pink^', N'1^1^', N'35^37^', N'140.0^180.0^', N'Nguyễn Trọng Tín', N'0788998811 ', N'Hà Nội', N'JDS-DBLU^ADNMDRPS-PNK^', N'cc@gmail.com', N'Đặt hàng', CAST(0x0000A91800000000 AS DateTime), N'COD       ', N'Xuất', 320)
INSERT [dbo].[HoaDon] ([IDHD], [tenSP], [SL], [Size], [Gia], [tenKH], [SDT], [diaChi], [idSP], [Email], [trangThai], [ngay], [hinhThucTT], [loaiHD], [tongTien]) VALUES (N'HD2', N'Jordan Spizike Dark Blue^Jordan Trunner LX High Platinum^', N'2^1^', N'35^36^', N'280.0^106.0^', N'Đỗ Quang Khôi', N'0788998811 ', N'Tân Phú', N'JDS-DBLU^JDTLXH-PLA^', N'khoi@gmail.com', N'Đặt hàng', CAST(0x0000A91800000000 AS DateTime), N'COD       ', N'Xuất', 386)
SET IDENTITY_INSERT [dbo].[Kho] ON 

INSERT [dbo].[Kho] ([STT], [IDSP], [SL], [Size]) VALUES (1, N'ADNMD-CS2PS-BLK', N'10;12;14;16', N'35;36;37;38')
INSERT [dbo].[Kho] ([STT], [IDSP], [SL], [Size]) VALUES (2, N'ADNMD-R1S-GRN', N'12;15', N'35;36')
INSERT [dbo].[Kho] ([STT], [IDSP], [SL], [Size]) VALUES (3, N'ADNMDRPS-PNK', N'8;12;10', N'35;36;37')
SET IDENTITY_INSERT [dbo].[Kho] OFF
INSERT [dbo].[Loai] ([IDLoai], [tenLoai]) VALUES (N'AD', N'Adidas')
INSERT [dbo].[Loai] ([IDLoai], [tenLoai]) VALUES (N'JD', N'Jordan')
INSERT [dbo].[Loai] ([IDLoai], [tenLoai]) VALUES (N'NK', N'Nike')
INSERT [dbo].[NhanVien] ([username], [password], [isAdmin]) VALUES (N'admin', N'admin', 1)
INSERT [dbo].[SanPham] ([IDSP], [TenSP], [GiaSPKM], [GiaSP], [isHot], [IDLoai], [MoTa], [HinhSP]) VALUES (N'ADNMDRPS-PNK', N'NMD_Racer Primeknit Shoes Pink', 20, 180, NULL, N'AD', N'Progressive, premium, pioneering. NMD blends pure adidas heritage with advanced materials for futuristic style that resonates on the streets. These shoes have a sock-like adidas Primeknit upper that follows the shape of your foot for a snug, adaptive fit. ', N'1.jpg;2.jpg;3.jpg;')
ALTER TABLE [dbo].[CTSP]  WITH CHECK ADD  CONSTRAINT [FK_CTSP_SanPham] FOREIGN KEY([IDSP])
REFERENCES [dbo].[SanPham] ([IDSP])
GO
ALTER TABLE [dbo].[CTSP] CHECK CONSTRAINT [FK_CTSP_SanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_Loai] FOREIGN KEY([IDLoai])
REFERENCES [dbo].[Loai] ([IDLoai])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_Loai]
GO
USE [master]
GO
